@font-face {
	font-family: 'PT Root UI';
	src: url('PT-Root-UI/PT-Root-UI_Regular/PT-Root-UI_Regular.eot'),
		url('PT-Root-UI/PT-Root-UI_Regular/PT-Root-UI_Regular.eot?#iefix') format('embedded-opentype'),
		url('PT-Root-UI/PT-Root-UI_Regular/PT-Root-UI_Regular.woff') format('woff'),
		url('PT-Root-UI/PT-Root-UI_Regular/PT-Root-UI_Regular.woff2') format('woff2'),
		url('PT-Root-UI/PT-Root-UI_Regular/PT-Root-UI_Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('PT-Root-UI/PT-Root-UI_Medium/PT-Root-UI_Medium.eot'),
		url('PT-Root-UI/PT-Root-UI_Medium/PT-Root-UI_Medium.eot?#iefix') format('embedded-opentype'),
		url('PT-Root-UI/PT-Root-UI_Medium/PT-Root-UI_Medium.woff') format('woff'),
		url('PT-Root-UI/PT-Root-UI_Medium/PT-Root-UI_Medium.woff2') format('woff2'),
		url('PT-Root-UI/PT-Root-UI_Medium/PT-Root-UI_Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('PT-Root-UI/PT-Root-UI_Light/PT-Root-UI_Light.eot'),
		url('PT-Root-UI/PT-Root-UI_Light/PT-Root-UI_Light.eot?#iefix') format('embedded-opentype'),
		url('PT-Root-UI/PT-Root-UI_Light/PT-Root-UI_Light.woff') format('woff'),
		url('PT-Root-UI/PT-Root-UI_Light/PT-Root-UI_Light.woff2') format('woff2'),
		url('PT-Root-UI/PT-Root-UI_Light/PT-Root-UI_Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('PT-Root-UI/PT-Root-UI_Bold/PT-Root-UI_Bold.eot'),
		url('PT-Root-UI/PT-Root-UI_Bold/PT-Root-UI_Bold.eot?#iefix') format('embedded-opentype'),
		url('PT-Root-UI/PT-Root-UI_Bold/PT-Root-UI_Bold.woff') format('woff'),
		url('PT-Root-UI/PT-Root-UI_Bold/PT-Root-UI_Bold.woff2') format('woff2'),
		url('PT-Root-UI/PT-Root-UI_Bold/PT-Root-UI_Bold.ttf') format('truetype');
	font-weight: 700;
}
